<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="DBConnect" connectionString="Data Source=NATALIA\SQL2019EXPRESS; Initial Catalog = TeacherCourseDB; User ID =sa; Password=lasalle" />
	</connectionStrings>
</configuration>